[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/hbb1/diff-surfel-rasterization.git
	ignore = all
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/z1V-Chan/simple-knn-clone.git
